<div class="fixed-bottom custom-bottom-navbar">
    <nav class="bottom-nav">
        <ul class="bottom-nav-list">
            <li class="bottom-nav-list-item" >
                <a href="" id="active-home">
                    <img src="icons/home_icon.svg"
                         style="width: 25px; height: 25px;"/>
                    <span class="mt-1 bottom-nav-text">Главная</span>
                </a>
            </li>
            <li class="bottom-nav-list-item">
                <a href="counter">
                    <img src="icons/favorite_icon.svg" />
                    <span class="mt-1 bottom-nav-text">Избранные</span>
                </a>
            </li>
            <li class="bottom-nav-list-item">
                <a>
                    <img src="icons/add_icon.svg" />
                    <span class="mt-1 bottom-nav-text">Добавить</span>
                </a>
            </li>
            <li class="bottom-nav-list-item">
                <a>
                    <img src="icons/profile_icon.svg" />
                    <span class="mt-1 bottom-nav-text">Профиль</span>
                </a>
            
            </li>

        </ul>
    </nav>
</div>
@*
    <nav id="bottom-nav" class="mobile-bottom-nav fixed-bottom">
        <div class="mobile-bottom-nav__item text-center" style="background: black;">
            <a href="" @onclick="HomeStatus" id="is-home-active">
                <div class="mobile-bottom-nav__item-content">
                    <img src="icons/home_icon.svg" style="width: 25px; height: 25px;" />
                </div>
            </a>
        </div>

        <div class="mobile-bottom-nav__item" style="background: green;">
            <a href="counter" @onclick="AccountStatus" id="is-account-active">
                <div class="mobile-bottom-nav__item-content">
                    <img src="icons/favorite_icon.svg" style="width: 25px; height: 25px;" />
                </div>
            </a>
        </div>

        <div class="mobile-bottom-nav__item" style="background: red;">
            <a href="counter" @onclick="AccountStatus" id="is-account-active">
                <div class="mobile-bottom-nav__item-content">
                    <img src="icons/add_icon.svg" style="width: 25px; height: 25px;" />
                </div>
            </a>
        </div>

        <div class="mobile-bottom-nav__item">
            <a href="counter" @onclick="AccountStatus" id="is-account-active">
                <div class="mobile-bottom-nav__item-content">
                    <img src="icons/profile_icon.svg" style="width: 25px; height: 25px;" />
                </div>
            </a>
        </div>



    </nav>
</div> *@

@code {
    private bool collapseNavMenu = true;
    private bool isHome = true;
    private bool isAccount = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void HomeStatus()
    {
        isHome = true;
        isAccount = false;
    }

    void AccountStatus()
    {
        isHome = false;
        isAccount = true;
    }
}
