

@media (min-width: 901px) {
    .custom-bottom-navbar {
        display: none;
    }
}

@media (max-width: 701px) {
    .bottom-nav-text {
        display: none;
    }
}


/*Bottom nav*/
.custom-bottom-navbar {
    background-color: white;
    height: 50px;
}

bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 2px -2px #fff;
    background-color: #fff;
}

.bottom-nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.bottom-nav-list-item a {
    color: #D9D9D9;
    font-weight: 400;
    font-size: 13px;
}


.bottom-nav-list-item {
    margin: 0 10px;
}

.bottom-nav-text {
    margin: 0px;
}


